Repository OADA/server, changes with the owners that CODEOWNERS names for each.
All owners: @awlayton, @abalmos, @aultac, @awalyton, @wang701, @YaguangZhang, @aaron97neu

CODEOWNERS:

# Code Owners Declaration
# This file defines the code owners for files in this repository
# See documentation here: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Default group of people?
* @awlayton @abalmos @aultac

.gitattributes @aultac

# prettier
.prettierignore @awlayton
.prettierrc.json @awlayton

# VS Code
.vscode @awlayton
*.code-workspace @awlayton

# eslint
**/.eslint* @awlayton

# TypeScript
**/tsconfig.* @awlayton

# docker
oada/.dockerignore @awalyton
oada/Dockerfile @abalmos @awlayton
docker-compose.yml @abalmos @awlayton
common.yml @abalmos

# eslint
oada/.eslint* @awlayton

# Alex made swag based proxy
support/proxy @awlayton

oada/lerna.json @awlayton

oada/libs/lib-kafka @awlayton
oada/libs/pino-debug @awlayton
#oada/libs/oada-lib-arangodb
oada/libs/lib-config @awlayton

# Service authors?
oada/services/auth @abalmos
oada/services/http-handler @awlayton
#oada/services/permissions-handler
oada/services/rev-graph-update @wang701
#oada/services/shares
oada/services/startup @aultac
oada/services/sync-handler @awlayton
oada/services/users @aultac
oada/services/webhooks @awlayton
oada/services/well-known @awlayton
oada/services/write-handler @awlayton

# Yaguang wrote the tests
oada/tests @YaguangZhang

# Alex made the release nonsense
release @awlayton

# Helm stuff
charts @awlayton

# Andrew intially created all the files in .github with some additions by Aaron
.github            @abalmos
.github/workflows/validate-codeowners.yml @aaron97neu
.github/workflows/build-and-push-services.yml @abalmos @awlayton
.github/workflows/codeql-analysis.yml @awlayton
.github/workflows/semgrep-analysis.yml @awlayton

ci(semgrep): fix workflow
  .github/workflows/semgrep-analysis.yml
Owners: @awlayton

chore(helm): update chart application version
  charts/oada/Chart.yaml
Owners: @awlayton

Update index.yaml
  index.yaml
Owners: @awlayton, @abalmos, @aultac

fix: upgrade pino-pretty from 10.2.2 to 10.2.3
  oada/package.json
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac

fix: oada/package.json & oada/yarn.lock to reduce vulnerabilities
  oada/package.json
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac

Start of support for external OIDC auth providers.
  charts/oada/templates/configmap.yaml
  charts/oada/templates/http.yaml
  charts/oada/values.yaml
  oada/.vscode/settings.json
  oada/.yarn/plugins/@ojkelly/plugin-build.cjs
  oada/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  oada/.yarn/plugins/@yarnpkg/plugin-typescript.cjs
  oada/.yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  oada/.yarn/releases/yarn-3.6.3.cjs
  oada/.yarn/releases/yarn-4.0.2.cjs
  oada/.yarnrc.yml
  oada/libs/lib-arangodb/package.json
  oada/libs/lib-arangodb/tsconfig.json
  oada/libs/lib-config/package.json
  oada/libs/lib-config/src/index.ts
  oada/libs/lib-config/tsconfig.json
  oada/libs/lib-kafka/package.json
  oada/libs/lib-prom/package.json
  oada/libs/pino-debug/package.json
  oada/libs/pino-debug/src/index.ts
  oada/oada.config.mjs
  oada/package.json
  oada/services/auth/package.json
  oada/services/auth/src/auth.ts
  oada/services/auth/src/config.ts
  oada/services/auth/src/oauth2.ts
  oada/services/auth/src/oidc.ts
  oada/services/http-handler/package.json
  oada/services/permissions-handler/package.json
  oada/services/rev-graph-update/package.json
  oada/services/shares/package.json
  oada/services/startup/package.json
  oada/services/sync-handler/package.json
  oada/services/users/package.json
  oada/services/webhooks/package.json
  oada/services/well-known/package.json
  oada/services/well-known/src/config.ts
  oada/services/well-known/src/index.ts
  oada/services/write-handler/package.json
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac, @wang701

fix: oada/services/shares/package.json to reduce vulnerabilities
  oada/services/shares/package.json
Owners: @awlayton, @abalmos, @aultac

fix: oada/services/write-handler/package.json to reduce vulnerabilities
  oada/services/write-handler/package.json
Owners: @awlayton

fix: oada/services/permissions-handler/package.json to reduce vulnerabilities
  oada/services/permissions-handler/package.json
Owners: @awlayton, @abalmos, @aultac

fix: oada/services/webhooks/package.json to reduce vulnerabilities
  oada/services/webhooks/package.json
Owners: @awlayton

fix: oada/services/sync-handler/package.json to reduce vulnerabilities
  oada/services/sync-handler/package.json
Owners: @awlayton

fix: oada/services/rev-graph-update/package.json to reduce vulnerabilities
  oada/services/rev-graph-update/package.json
Owners: @wang701

fix: oada/services/users/package.json to reduce vulnerabilities
  oada/services/users/package.json
Owners: @aultac

fix: oada/services/auth/package.json to reduce vulnerabilities
  oada/services/auth/package.json
Owners: @abalmos

fix: oada/services/well-known/package.json to reduce vulnerabilities
  oada/services/well-known/package.json
Owners: @awlayton

fix: oada/services/auth/package.json to reduce vulnerabilities
  oada/services/auth/package.json
Owners: @abalmos

fix(auth): remove unused deps
  oada/services/auth/package.json
  oada/yarn.lock
Owners: @abalmos, @awlayton, @aultac

feat(config): add logging support to lib-config
  oada/libs/lib-arangodb/src/config.ts
  oada/libs/lib-config/package.json
  oada/libs/lib-config/src/index.ts
  oada/libs/lib-config/tsconfig.json
  oada/oada.config.mjs
  oada/services/auth/src/config.ts
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac

feat(well-known): more robust config enpoints
  oada/.eslintrc.yaml
  oada/libs/lib-config/package.json
  oada/oada.config.mjs
  oada/package.json
  oada/services/auth/package.json
  oada/services/http-handler/package.json
  oada/services/well-known/package.json
  oada/services/well-known/src/config.ts
  oada/services/well-known/src/index.ts
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac

fix(auth): OIDC issuer typos
  common.yml
  oada/services/http-handler/src/server.ts
  oada/services/well-known/src/index.ts
  release/.env
  release/docker-compose.override.yml
Owners: @abalmos, @awlayton

fix(auth): better OIDC issuer support
  oada/libs/lib-arangodb/package.json
  oada/libs/lib-kafka/package.json
  oada/libs/lib-prom/package.json
  oada/libs/pino-debug/package.json
  oada/package.json
  oada/services/auth/package.json
  oada/services/auth/src/oidc.ts
  oada/services/http-handler/package.json
  oada/services/permissions-handler/package.json
  oada/services/rev-graph-update/package.json
  oada/services/startup/package.json
  oada/services/sync-handler/package.json
  oada/services/write-handler/package.json
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac, @wang701

feat(OIDC): add debug logging of discovery results
  oada/services/http-handler/src/server.ts
  oada/services/well-known/src/index.ts
Owners: @awlayton

fix(well-known): fix oada-configuration redirects
  oada/services/well-known/src/index.ts
Owners: @awlayton

feat(auth): progress towards auth0/oidc support
  oada/libs/lib-config/package.json
  oada/libs/pino-debug/package.json
  oada/oada.config.mjs
  oada/package.json
  oada/services/auth/package.json
  oada/services/auth/src/auth.ts
  oada/services/auth/src/config.ts
  oada/services/auth/src/db/arango/codes.ts
  oada/services/auth/src/db/arango/tokens.ts
  oada/services/auth/src/db/flat/codes.ts
  oada/services/auth/src/db/flat/tokens.ts
  oada/services/auth/src/db/models/code.ts
  oada/services/auth/src/db/models/token.ts
  oada/services/auth/src/index.ts
  oada/services/auth/src/oauth2.ts
  oada/services/auth/src/oidc.ts
  oada/services/http-handler/package.json
  oada/services/http-handler/src/authorizations.ts
  oada/services/http-handler/src/resources.ts
  oada/services/http-handler/src/server.ts
  oada/services/http-handler/src/users.ts
  oada/services/http-handler/tsconfig.json
  oada/services/permissions-handler/src/server.ts
  oada/services/well-known/src/config.ts
  oada/services/well-known/src/index.ts
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac

chore(security): update deps
  oada/libs/lib-arangodb/package.json
  oada/libs/lib-config/package.json
  oada/libs/lib-kafka/package.json
  oada/libs/lib-prom/package.json
  oada/libs/pino-debug/package.json
  oada/package.json
  oada/services/auth/package.json
  oada/services/http-handler/package.json
  oada/services/http-handler/src/server.ts
  oada/services/http-handler/src/types.d.ts
  oada/services/permissions-handler/package.json
  oada/services/rev-graph-update/package.json
  oada/services/startup/package.json
  oada/services/sync-handler/package.json
  oada/services/well-known/package.json
  oada/services/write-handler/package.json
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac, @wang701

fix: oada/services/shares/package.json to reduce vulnerabilities
  oada/services/shares/package.json
Owners: @awlayton, @abalmos, @aultac

fix: oada/services/webhooks/package.json to reduce vulnerabilities
  oada/services/webhooks/package.json
Owners: @awlayton

fix: oada/services/auth/package.json to reduce vulnerabilities
  oada/services/auth/package.json
Owners: @abalmos

fix: oada/services/sync-handler/package.json to reduce vulnerabilities
  oada/services/sync-handler/package.json
Owners: @awlayton

fix: oada/services/rev-graph-update/package.json to reduce vulnerabilities
  oada/services/rev-graph-update/package.json
Owners: @wang701

fix: oada/services/well-known/package.json to reduce vulnerabilities
  oada/services/well-known/package.json
Owners: @awlayton

fix: oada/services/write-handler/package.json to reduce vulnerabilities
  oada/services/write-handler/package.json
Owners: @awlayton

fix: oada/services/users/package.json to reduce vulnerabilities
  oada/services/users/package.json
Owners: @aultac

fix(auth): persist auth keys in k8s secret
  charts/oada/templates/auth.yaml
  charts/oada/templates/binary-data.yaml
  charts/oada/templates/deployment.yaml
  oada/libs/lib-config/src/index.ts
  oada/services/auth/src/config.ts
  oada/services/auth/src/oauth2.ts
Owners: @awlayton, @abalmos

fix: oada/services/permissions-handler/package.json to reduce vulnerabilities
  oada/services/permissions-handler/package.json
Owners: @awlayton, @abalmos, @aultac

fix(auth): properly initialize "new" OIDC users
  oada/libs/lib-arangodb/package.json
  oada/libs/lib-arangodb/src/libs/exampledocs/users.ts
  oada/libs/lib-arangodb/src/libs/users.ts
  oada/libs/lib-prom/package.json
  oada/libs/models/package.json
  oada/libs/models/src/authorization.ts
  oada/libs/models/src/user.ts
  oada/libs/pino-debug/package.json
  oada/oada.config.mjs
  oada/package.json
  oada/services/auth/package.json
  oada/services/auth/src/db/models/user.ts
  oada/services/auth/src/oauth2.ts
  oada/services/auth/src/oidc.ts
  oada/services/http-handler/package.json
  oada/services/http-handler/src/authorizations.ts
  oada/services/http-handler/src/resources.ts
  oada/services/http-handler/src/server.ts
  oada/services/http-handler/src/types.d.ts
  oada/services/permissions-handler/src/server.ts
  oada/services/rev-graph-update/package.json
  oada/services/users/package.json
  oada/services/users/src/server.ts
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac, @wang701

fix: oada/services/auth/package.json to reduce vulnerabilities
  oada/services/auth/package.json
Owners: @abalmos

fix: oada/services/auth/package.json to reduce vulnerabilities
  oada/services/auth/package.json
Owners: @abalmos

fix: oada/services/shares/package.json to reduce vulnerabilities
  oada/services/shares/package.json
Owners: @awlayton, @abalmos, @aultac

fix: oada/services/auth/package.json to reduce vulnerabilities
  oada/services/auth/package.json
Owners: @abalmos
