Repository OADA/server, changes with the owners that CODEOWNERS names for each.
All owners: @awlayton, @abalmos, @aultac, @awalyton, @wang701, @YaguangZhang, @aaron97neu

CODEOWNERS:

# Code Owners Declaration
# This file defines the code owners for files in this repository
# See documentation here: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Default group of people?
* @awlayton @abalmos @aultac

.gitattributes @aultac

# prettier
.prettierignore @awlayton
.prettierrc.json @awlayton

# VS Code
.vscode @awlayton
*.code-workspace @awlayton

# eslint
**/.eslint* @awlayton

# TypeScript
**/tsconfig.* @awlayton

# docker
oada/.dockerignore @awalyton
oada/Dockerfile @abalmos @awlayton
docker-compose.yml @abalmos @awlayton
common.yml @abalmos

# eslint
oada/.eslint* @awlayton

# Alex made swag based proxy
support/proxy @awlayton

oada/lerna.json @awlayton

oada/libs/lib-kafka @awlayton
oada/libs/pino-debug @awlayton
#oada/libs/oada-lib-arangodb
oada/libs/lib-config @awlayton

# Service authors?
oada/services/auth @abalmos
oada/services/http-handler @awlayton
#oada/services/permissions-handler
oada/services/rev-graph-update @wang701
#oada/services/shares
oada/services/startup @aultac
oada/services/sync-handler @awlayton
oada/services/users @aultac
oada/services/webhooks @awlayton
oada/services/well-known @awlayton
oada/services/write-handler @awlayton

# Yaguang wrote the tests
oada/tests @YaguangZhang

# Alex made the release nonsense
release @awlayton

# Helm stuff
charts @awlayton

# Andrew intially created all the files in .github with some additions by Aaron
.github            @abalmos
.github/workflows/validate-codeowners.yml @aaron97neu
.github/workflows/build-and-push-services.yml @abalmos @awlayton
.github/workflows/codeql-analysis.yml @awlayton
.github/workflows/semgrep-analysis.yml @awlayton

chore(chart): bump helm chart version
  charts/oada/Chart.yaml
  charts/oada/values.yaml
Owners: @awlayton

Update index.yaml
  index.yaml
Owners: @awlayton, @abalmos, @aultac

chore(pino-debug): add README
  oada/libs/pino-debug/README.md
Owners: @awlayton

fix(chart): fix config for external services
  charts/oada/Chart.yaml
  charts/oada/templates/configmap.yaml
  charts/oada/templates/deployment.yaml
  charts/oada/values.yaml
Owners: @awlayton

Update index.yaml
  index.yaml
Owners: @awlayton, @abalmos, @aultac

fix(chart): remove unfisk from default services
  charts/oada/Chart.yaml
  charts/oada/values.yaml
Owners: @awlayton

Update index.yaml
  index.yaml
Owners: @awlayton, @abalmos, @aultac

feat: update pino-debug to esm
  oada/.eslintrc.yaml
  oada/libs/lib-arangodb/package.json
  oada/libs/lib-config/package.json
  oada/libs/lib-kafka/package.json
  oada/libs/lib-prom/package.json
  oada/libs/pino-debug/package.json
  oada/libs/pino-debug/src/index.ts
  oada/libs/pino-debug/tsconfig.json
  oada/package.json
  oada/services/auth/package.json
  oada/services/http-handler/package.json
  oada/services/permissions-handler/package.json
  oada/services/rev-graph-update/package.json
  oada/services/startup/package.json
  oada/services/sync-handler/package.json
  oada/services/webhooks/package.json
  oada/services/well-known/package.json
  oada/services/write-handler/package.json
  oada/tsconfig.json
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac, @wang701

feat(auth): rework bcrypt salting
  oada/.eslintrc.yaml
  oada/libs/lib-arangodb/src/config.ts
  oada/libs/lib-arangodb/src/init.ts
  oada/libs/lib-arangodb/src/libs/users.ts
  oada/oada.config.mjs
  oada/services/auth/src/config.ts
  oada/services/auth/src/db/arango/init.ts
Owners: @awlayton, @abalmos, @aultac

feat(import): add arango import command
  oada/.yarn/releases/yarn-3.5.0.cjs
  oada/.yarn/releases/yarn-3.5.1.cjs
  oada/.yarnrc.yml
  oada/libs/lib-arangodb/package.json
  oada/libs/lib-arangodb/src/config.ts
  oada/libs/lib-arangodb/src/import.ts
  oada/libs/lib-kafka/package.json
  oada/libs/lib-prom/package.json
  oada/libs/pino-debug/package.json
  oada/package.json
  oada/services/auth/package.json
  oada/services/http-handler/package.json
  oada/services/permissions-handler/package.json
  oada/services/rev-graph-update/package.json
  oada/services/startup/package.json
  oada/services/sync-handler/package.json
  oada/services/well-known/package.json
  oada/services/write-handler/package.json
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac, @wang701

feat(auth): switch logging to pino
  oada-server.code-workspace
  oada/.yarnrc.yml
  oada/services/auth/package.json
  oada/services/auth/src/config.ts
  oada/services/auth/src/index.ts
  oada/services/auth/src/oauth2.ts
  oada/services/auth/src/types.d.ts
  oada/services/http-handler/src/server.ts
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac

fix(pino): fix PINO_LEVEL
  oada/libs/pino-debug/src/index.ts
Owners: @awlayton

refactor(auth): refactor oauth2/openid server code
  oada/libs/lib-arangodb/src/libs/authorizations.ts
  oada/services/auth/src/oauth2.ts
  oada/services/auth/src/oidc.ts
  oada/services/auth/src/types.d.ts
  oada/services/auth/src/utils.ts
Owners: @awlayton, @abalmos, @aultac

fix(rate-limit): let plugin handle parsing the time window
  oada/services/http-handler/src/config.ts
Owners: @awlayton

fix(rate-limit): disable bugged 429 retry-after header
  oada/services/http-handler/src/server.ts
Owners: @awlayton

refactor(auth): improved key handling
  oada/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  oada/.yarn/releases/yarn-3.5.1.cjs
  oada/.yarn/releases/yarn-3.6.0.cjs
  oada/.yarnrc.yml
  oada/libs/lib-arangodb/package.json
  oada/libs/lib-config/package.json
  oada/libs/lib-config/src/index.ts
  oada/libs/lib-kafka/package.json
  oada/libs/lib-prom/package.json
  oada/libs/pino-debug/package.json
  oada/oada.config.mjs
  oada/package.json
  oada/services/auth/certs/sign/kjcScjc32dwJXXLJDs3r124sa1.pem
  oada/services/auth/package.json
  oada/services/auth/src/auth.ts
  oada/services/auth/src/config.ts
  oada/services/auth/src/index.ts
  oada/services/auth/src/keys.ts
  oada/services/auth/src/oauth2.ts
  oada/services/auth/src/oidc.ts
  oada/services/http-handler/package.json
  oada/services/http-handler/src/server.ts
  oada/services/permissions-handler/package.json
  oada/services/rev-graph-update/package.json
  oada/services/shares/package.json
  oada/services/startup/package.json
  oada/services/sync-handler/package.json
  oada/services/users/package.json
  oada/services/webhooks/package.json
  oada/services/well-known/package.json
  oada/services/write-handler/package.json
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac, @wang701

chore(auth): remove old signing key
  oada/services/auth/sign/02llkjf92jieiekk2.pem
Owners: @abalmos

feat(auth): implement PKCE checks
  oada-server.code-workspace
  oada/services/auth/src/config.ts
  oada/services/auth/src/oauth2.ts
  oada/services/auth/src/oidc.ts
  oada/services/auth/src/types.d.ts
Owners: @awlayton, @abalmos

style(auth): delint oauth2 code
  oada/services/auth/src/oauth2.ts
Owners: @abalmos

chore: update yarn
  oada/.yarn/releases/yarn-3.6.0.cjs
  oada/.yarn/releases/yarn-3.6.1.cjs
  oada/.yarnrc.yml
  oada/package.json
Owners: @awlayton, @abalmos, @aultac

chore: update deps
  oada/libs/lib-arangodb/package.json
  oada/libs/lib-config/package.json
  oada/libs/lib-kafka/package.json
  oada/libs/lib-prom/package.json
  oada/libs/pino-debug/package.json
  oada/package.json
  oada/services/auth/package.json
  oada/services/http-handler/package.json
  oada/services/permissions-handler/package.json
  oada/services/rev-graph-update/package.json
  oada/services/shares/package.json
  oada/services/startup/package.json
  oada/services/sync-handler/package.json
  oada/services/users/package.json
  oada/services/webhooks/package.json
  oada/services/well-known/package.json
  oada/services/write-handler/package.json
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac, @wang701

fix(node): set NODE_OPTIONS
  charts/oada/templates/configmap.yaml
  common.yml
  release/docker-compose.override.yml
Owners: @awlayton, @abalmos

fix(import): add options for handling conflicts
  oada/libs/lib-arangodb/src/config.ts
  oada/libs/lib-arangodb/src/import.ts
Owners: @awlayton, @abalmos, @aultac

fix(import): fix counting of collection docs
  oada/libs/lib-arangodb/src/import.ts
Owners: @awlayton, @abalmos, @aultac

fix(import): really fix import count
  oada/libs/lib-arangodb/src/import.ts
Owners: @awlayton, @abalmos, @aultac

fix(import): more import improvements
  oada/libs/lib-arangodb/src/import.ts
Owners: @awlayton, @abalmos, @aultac

feat(import): add batching
  oada/libs/lib-arangodb/src/config.ts
  oada/libs/lib-arangodb/src/import.ts
Owners: @awlayton, @abalmos, @aultac

fix(import): fix batching
  oada/libs/lib-arangodb/src/import.ts
Owners: @awlayton, @abalmos, @aultac

fix(import): stop batch cursor from timing out
  oada/libs/lib-arangodb/src/import.ts
Owners: @awlayton, @abalmos, @aultac

fix(import): change cursor ttl
  oada/libs/lib-arangodb/src/import.ts
Owners: @awlayton, @abalmos, @aultac

fix(import): do not error if cursor kill fails
  oada/libs/lib-arangodb/src/import.ts
Owners: @awlayton, @abalmos, @aultac

fix(import): smaller default batches
  oada/libs/lib-arangodb/src/config.ts
  oada/libs/lib-arangodb/src/import.ts
Owners: @awlayton, @abalmos, @aultac

fix(rate-limit): correct Retry-After header
  oada/libs/lib-arangodb/package.json
  oada/libs/lib-arangodb/src/config.ts
  oada/libs/lib-arangodb/src/import.ts
  oada/libs/lib-config/src/index.ts
  oada/libs/lib-kafka/package.json
  oada/libs/lib-prom/package.json
  oada/libs/pino-debug/package.json
  oada/package.json
  oada/services/auth/package.json
  oada/services/http-handler/package.json
  oada/services/http-handler/src/server.ts
  oada/services/permissions-handler/package.json
  oada/services/rev-graph-update/package.json
  oada/services/startup/package.json
  oada/services/sync-handler/package.json
  oada/services/write-handler/package.json
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac, @wang701

fix: upgrade pino-pretty from 10.0.1 to 10.1.0
  oada/package.json
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac

fix(security): update vulnerable deps
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac

chore: update and delint
  oada/libs/lib-arangodb/package.json
  oada/libs/lib-arangodb/src/db.ts
  oada/libs/lib-kafka/package.json
  oada/libs/lib-prom/package.json
  oada/libs/pino-debug/package.json
  oada/package.json
  oada/services/auth/package.json
  oada/services/auth/src/db/flat/clients.ts
  oada/services/auth/src/db/flat/codes.ts
  oada/services/auth/src/db/flat/tokens.ts
  oada/services/auth/src/db/flat/users.ts
  oada/services/auth/src/types.d.ts
  oada/services/http-handler/package.json
  oada/services/permissions-handler/package.json
  oada/services/rev-graph-update/package.json
  oada/services/shares/package.json
  oada/services/startup/package.json
  oada/services/sync-handler/package.json
  oada/services/users/package.json
  oada/services/webhooks/package.json
  oada/services/well-known/package.json
  oada/services/write-handler/package.json
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac, @wang701

chore: bump version
  oada/libs/lib-arangodb/package.json
  oada/libs/lib-config/package.json
  oada/libs/lib-kafka/package.json
  oada/libs/lib-prom/package.json
  oada/libs/pino-debug/package.json
  oada/package.json
  oada/services/auth/package.json
  oada/services/http-handler/package.json
  oada/services/permissions-handler/package.json
  oada/services/rev-graph-update/package.json
  oada/services/shares/package.json
  oada/services/startup/package.json
  oada/services/sync-handler/package.json
  oada/services/users/package.json
  oada/services/webhooks/package.json
  oada/services/well-known/package.json
  oada/services/write-handler/package.json
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac, @wang701

fix(well-known): add missing deps
  oada/services/well-known/package.json
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac

ci(semgrep): update workflow
  .github/workflows/semgrep-analysis.yml
Owners: @awlayton

ci(semgrep): add Secure Code Warrior
  .github/workflows/semgrep-analysis.yml
Owners: @awlayton
