Repository OADA/server, changes with the owners that CODEOWNERS names for each.
All owners: @awlayton, @abalmos, @aultac, @awalyton, @wang701, @YaguangZhang, @aaron97neu

CODEOWNERS:

# Code Owners Declaration
# This file defines the code owners for files in this repository
# See documentation here: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Default group of people?
* @awlayton @abalmos @aultac

.gitattributes @aultac

# prettier
.prettierignore @awlayton
.prettierrc.json @awlayton

# VS Code
.vscode @awlayton
*.code-workspace @awlayton

# eslint
**/.eslint* @awlayton

# TypeScript
**/tsconfig.* @awlayton

# docker
oada/.dockerignore @awalyton
oada/Dockerfile @abalmos @awlayton
docker-compose.yml @abalmos @awlayton
common.yml @abalmos

# eslint
oada/.eslint* @awlayton

# Alex made swag based proxy
support/proxy @awlayton

oada/lerna.json @awlayton

oada/libs/lib-kafka @awlayton
oada/libs/pino-debug @awlayton
#oada/libs/oada-lib-arangodb
oada/libs/lib-config @awlayton

# Service authors?
oada/services/auth @abalmos
oada/services/http-handler @awlayton
#oada/services/permissions-handler
oada/services/rev-graph-update @wang701
#oada/services/shares
oada/services/startup @aultac
oada/services/sync-handler @awlayton
oada/services/users @aultac
oada/services/webhooks @awlayton
oada/services/well-known @awlayton
oada/services/write-handler @awlayton

# Yaguang wrote the tests
oada/tests @YaguangZhang

# Alex made the release nonsense
release @awlayton

# Helm stuff
charts @awlayton

# Andrew intially created all the files in .github with some additions by Aaron
.github            @abalmos
.github/workflows/validate-codeowners.yml @aaron97neu
.github/workflows/build-and-push-services.yml @abalmos @awlayton
.github/workflows/codeql-analysis.yml @awlayton
.github/workflows/semgrep-analysis.yml @awlayton

fix: oada/services/rev-graph-update/package.json to reduce vulnerabilities
  oada/services/rev-graph-update/package.json
Owners: @wang701

fix: oada/services/users/package.json to reduce vulnerabilities
  oada/services/users/package.json
Owners: @aultac

fix: oada/services/webhooks/package.json to reduce vulnerabilities
  oada/services/webhooks/package.json
Owners: @awlayton

fix: oada/services/permissions-handler/package.json to reduce vulnerabilities
  oada/services/permissions-handler/package.json
Owners: @awlayton, @abalmos, @aultac

fix: oada/services/sync-handler/package.json to reduce vulnerabilities
  oada/services/sync-handler/package.json
Owners: @awlayton

fix: oada/services/write-handler/package.json to reduce vulnerabilities
  oada/services/write-handler/package.json
Owners: @awlayton

fix: oada/services/well-known/package.json to reduce vulnerabilities
  oada/services/well-known/package.json
Owners: @awlayton

feat(auth)!: update token cli for OIDC
  oada-server.code-workspace
  oada/.yarnrc.yml
  oada/libs/lib-arangodb/test/token.test.ts
  oada/libs/lib-config/src/index.ts
  oada/libs/pino-debug/src/index.ts
  oada/package.json
  oada/services/auth/package.json
  oada/services/auth/src/cli/client.ts
  oada/services/auth/src/cli/token.ts
  oada/services/auth/src/config.ts
  oada/services/auth/src/oauth2.ts
  oada/services/auth/src/oidc.ts
  oada/services/auth/src/token.ts
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac

update deps
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac

fix(auth): rework auth to support jwt and/or uuids
  oada-server.code-workspace
  oada/eslint.config.mjs
  oada/libs/lib-arangodb/package.json
  oada/libs/lib-arangodb/src/libs/exampledocs/users.ts
  oada/libs/lib-config/src/index.ts
  oada/libs/lib-kafka/package.json
  oada/libs/lib-prom/package.json
  oada/libs/models/package.json
  oada/libs/models/src/authorization.ts
  oada/libs/models/src/decorators.ts
  oada/libs/models/src/oidc.ts
  oada/libs/models/src/user.ts
  oada/libs/pino-debug/package.json
  oada/package.json
  oada/services/auth/package.json
  oada/services/auth/src/auth.ts
  oada/services/auth/src/cli/token.ts
  oada/services/auth/src/config.ts
  oada/services/auth/src/db/arango/codes.ts
  oada/services/auth/src/db/arango/tokens.ts
  oada/services/auth/src/db/arango/users.ts
  oada/services/auth/src/db/flat/codes.ts
  oada/services/auth/src/db/flat/tokens.ts
  oada/services/auth/src/db/jwt/tokens.ts
  oada/services/auth/src/db/models/client.ts
  oada/services/auth/src/db/models/code.ts
  oada/services/auth/src/db/models/index.ts
  oada/services/auth/src/db/models/token.ts
  oada/services/auth/src/db/models/user.ts
  oada/services/auth/src/oauth2.ts
  oada/services/http-handler/package.json
  oada/services/http-handler/src/authorizations.ts
  oada/services/http-handler/src/resources.ts
  oada/services/permissions-handler/package.json
  oada/services/rev-graph-update/package.json
  oada/services/startup/package.json
  oada/services/sync-handler/package.json
  oada/services/users/src/useradd.ts
  oada/services/write-handler/package.json
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac, @wang701

chore: remove clone-deep
  oada/libs/lib-arangodb/package.json
  oada/libs/lib-arangodb/src/libs/resources.ts
  oada/services/auth/package.json
  oada/services/auth/src/db/flat/codes.ts
  oada/services/users/package.json
  oada/services/users/src/server.ts
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac

fix(auth): tweak Authorization model
  oada/libs/models/src/authorization.ts
Owners: @awlayton, @abalmos, @aultac

feat(auth): decouple storage of tokens/users/codes
  charts/oada/templates/configmap.yaml
  charts/oada/values.yaml
  oada/.vscode/settings.json
  oada/.yarnrc.yml
  oada/libs/lib-arangodb/src/libs/authorizations.ts
  oada/libs/lib-arangodb/src/libs/codes.ts
  oada/libs/lib-arangodb/src/libs/exampledocs/authorizations.ts
  oada/libs/lib-arangodb/src/libs/exampledocs/codes.ts
  oada/libs/lib-arangodb/src/libs/resources.ts
  oada/libs/lib-arangodb/src/libs/users.ts
  oada/libs/models/src/user.ts
  oada/package.json
  oada/services/auth/package.json
  oada/services/auth/src/auth.ts
  oada/services/auth/src/config.ts
  oada/services/auth/src/db/arango/codes.ts
  oada/services/auth/src/db/arango/tokens.ts
  oada/services/auth/src/db/models/code.ts
  oada/services/auth/src/oauth2.ts
  oada/services/auth/src/oidc.ts
  oada/services/http-handler/package.json
  oada/services/http-handler/src/auth.ts
  oada/services/http-handler/src/authorizations.ts
  oada/services/http-handler/src/config.ts
  oada/services/http-handler/src/resources.ts
  oada/services/http-handler/src/server.ts
  oada/services/http-handler/src/tokenLookup.ts
  oada/services/http-handler/src/users.ts
  oada/services/permissions-handler/src/server.ts
  oada/services/shares/src/server.ts
  oada/services/users/src/server.ts
  oada/services/well-known/package.json
  oada/services/well-known/src/index.ts
  oada/services/write-handler/src/index.ts
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac

fix(auth): user lookup from legacy token
  oada/libs/lib-arangodb/package.json
  oada/libs/lib-arangodb/src/db.ts
  oada/libs/lib-kafka/package.json
  oada/libs/lib-prom/package.json
  oada/libs/models/package.json
  oada/libs/models/src/authorization.ts
  oada/libs/models/src/decorators.ts
  oada/libs/models/src/user.ts
  oada/libs/pino-debug/package.json
  oada/package.json
  oada/services/auth/package.json
  oada/services/http-handler/package.json
  oada/services/http-handler/src/auth.ts
  oada/services/http-handler/src/resources.ts
  oada/services/http-handler/src/server.ts
  oada/services/permissions-handler/package.json
  oada/services/permissions-handler/src/scopes.ts
  oada/services/permissions-handler/src/server.ts
  oada/services/rev-graph-update/package.json
  oada/services/startup/package.json
  oada/services/sync-handler/package.json
  oada/services/users/package.json
  oada/services/users/src/server.ts
  oada/services/users/src/useradd.ts
  oada/services/write-handler/package.json
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac, @wang701

fix(auth): local/oidc user compatibility fixes
  oada/libs/lib-arangodb/src/libs/authorizations.ts
  oada/libs/lib-arangodb/src/libs/exampledocs/users.ts
  oada/libs/lib-arangodb/src/libs/users.ts
  oada/libs/lib-kafka/src/ResponderRequester.ts
  oada/libs/models/src/user.ts
  oada/services/auth/package.json
  oada/services/auth/src/db/arango/users.ts
  oada/services/auth/src/db/models/user.ts
  oada/services/auth/src/oauth2.ts
  oada/services/http-handler/src/auth.ts
  oada/services/http-handler/src/resources.ts
  oada/services/http-handler/src/server.ts
  oada/services/http-handler/src/users.ts
  oada/services/permissions-handler/src/server.ts
  oada/services/users/src/server.ts
  oada/services/users/src/useradd.ts
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac

fix(tracing): fix handling of x-request-id header
  oada/services/http-handler/src/server.ts
Owners: @awlayton

fix(auth): fix server hang at start
  oada/libs/lib-arangodb/package.json
  oada/libs/lib-arangodb/src/config.ts
  oada/libs/lib-arangodb/src/index.ts
  oada/libs/lib-arangodb/src/libs/deviceCodes.ts
  oada/libs/lib-kafka/package.json
  oada/libs/lib-prom/package.json
  oada/libs/models/package.json
  oada/libs/pino-debug/package.json
  oada/package.json
  oada/services/auth/package.json
  oada/services/auth/src/cli/client.ts
  oada/services/auth/src/cli/token.ts
  oada/services/auth/src/config.ts
  oada/services/auth/src/db/arango/deviceCodes.ts
  oada/services/auth/src/db/jwt/tokens.ts
  oada/services/auth/src/db/models/deviceCode.ts
  oada/services/auth/src/dynReg.ts
  oada/services/auth/src/index.ts
  oada/services/auth/src/keys.ts
  oada/services/auth/src/login.ts
  oada/services/auth/src/oauth2.ts
  oada/services/auth/src/oidc.ts
  oada/services/http-handler/package.json
  oada/services/http-handler/src/resources.ts
  oada/services/permissions-handler/package.json
  oada/services/rev-graph-update/package.json
  oada/services/startup/package.json
  oada/services/sync-handler/package.json
  oada/services/users/package.json
  oada/services/well-known/src/index.ts
  oada/services/write-handler/package.json
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac, @wang701

fix(auth): device code flow fixes
  oada/libs/lib-arangodb/package.json
  oada/libs/lib-arangodb/src/libs/deviceCodes.ts
  oada/libs/lib-config/package.json
  oada/libs/lib-kafka/package.json
  oada/libs/lib-prom/package.json
  oada/libs/lib-prom/src/config.ts
  oada/libs/models/package.json
  oada/libs/pino-debug/package.json
  oada/package.json
  oada/services/auth/src/cli/token.ts
  oada/services/auth/src/db/arango/deviceCodes.ts
  oada/services/auth/src/db/models/client.ts
  oada/services/auth/src/db/models/code.ts
  oada/services/auth/src/db/models/deviceCode.ts
  oada/services/auth/src/db/models/index.ts
  oada/services/auth/src/db/models/token.ts
  oada/services/auth/src/db/models/user.ts
  oada/services/auth/src/index.ts
  oada/services/auth/src/oauth2.ts
  oada/services/auth/src/oidc.ts
  oada/services/auth/src/types.d.ts
  oada/services/http-handler/package.json
  oada/services/permissions-handler/package.json
  oada/services/rev-graph-update/package.json
  oada/services/startup/package.json
  oada/services/sync-handler/package.json
  oada/services/webhooks/package.json
  oada/services/well-known/package.json
  oada/services/write-handler/package.json
  oada/yarn.lock
Owners: @awlayton, @abalmos, @aultac, @wang701
